<% content_for(:title) { "Calculator: Add equipment" } %>

  <div class="hgroup">
    <h1>Calculator</h1>
    <ul class="breadcrumb pull-right">
      <li><a href="<%= root_path %>">Home</a> <span class="divider">/</span></li>
      <li class="active">Calculator</li>
    </ul>
  </div>


<%= link_to 'skip', next_wizard_path %>