<% content_for(:title) { "Fleet Savings" } %>

  <div class="hgroup">
    <h1>How much can you save?</h1>
    <h2>Find our how much you can save by switching to propane.</h2>
    <ul class="breadcrumb pull-right">
      <li><a href="<%= root_path %>">Home</a> <span class="divider">/</span></li>
      <li class="active">Fleet Savings</li>
    </ul>
  </div>

<%= render layout: 'form' do |f| %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

<% end %>


