<% content_for :title, "Calculator" %>

  <div class="hgroup">
    <h1>Calculation</h1>
    <h2>Find our how much you can earn by switching to propane.</h2>
    <ul class="breadcrumb pull-right">
      <li><a href="<%= root_path %>">Home</a> <span class="divider">/</span></li>
      <li class="active">Calculator</li>
    </ul>
  </div>


<%= render :partial => "accounts/calculator" %>