<% content_for(:title) { "Services" } %>
<% content_for(:body_class) { "collapsing_header" } %>

<% content_for(:post_header) do %>
    <div class="full_page_photo" style="background-image: url(<%= asset_path("sky.png") %>);">
      <div class="container">
        <section class="call_to_action">
          <h3 class="animated bounceInDown">Do your <strong>fleet a favor</strong></h3>
          <br>
          <h4 class="animated bounceInUp">Let us show you how our <strong>innovative turn-key approach</strong> can boost the value of your <strong>fleet assets</strong>!</h4>
        </section>
      </div>
    </div>
<% end %>

<section id="services">
  <div class="hgroup">
    <h1>Services</h1>
    <h2>Fleet transformation, to take your operations to the next level.</h2>
    <ul class="breadcrumb pull-right">
      <li><a href="<%= root_path %>">Home</a> <span class="divider">/</span></li>
      <li class="active">Services</li>
    </ul>
  </div>
  <div class="row-fluid service_teaser">
    <div class="span4 teaser_photo"> <img src="<%= asset_path("night-traffic.jpg") %>" alt="a" class="img-rounded"> </div>
    <div class="span8">
      <h3>A new option for fleet management</h3>
      <p>Clear Skies is a project developer and consulting company <strong>serving commercial fleets in the Washington DC area</strong>. Clear Skies helps bring the financial and technical acumen of large professionally-managed fleets to the small fleet operator. Whether your company delivers baked items, services elevators, repairs boilers, or operates taxis, vehicles are a vital tool for your operations. <strong>We can show you how to get more miles for less cost, maximizing the lifecycle value of your rolling assets.</strong></p>

       <p>We help you overcome three key barriers. First, managing the fleet is a small aspect of the business, and an owner's time is often better spent working with customers, recruiting great staff, and keeping ahead of the curve. Optimizing fleet lifecycle costs falls "below the fold." Second, capital costs of replacing vehicles and selecting ideal power train and fuel options can be burdensome to growing businesses. Finally, real-time information and trustworthy decision-making tools are scarce. Because of these three barriers, many excellent opportunities are left behind.</p>
      
    </div>
  </div>
</section>
<div class="row">
  <div class="span3 service text-center">
    <figure> <i class="icon-cloud-download"></i> </figure>
    <div class="desc">
      <h4>Data-driven</h4>
      <p>Let real-time data on vehicle utilization guide you in your decisions on fuel and assets management. </p>
    </div>
  </div>
  <div class="span3 service text-center">
    <figure> <i class="icon-beaker"></i> </figure>
    <div class="desc">
      <h4>Fuel Options</h4>
      <p>We provide options that lower your costs while providing resilience to your enterprise. </p>
    </div>
  </div>
  <div class="span3 service text-center">
    <figure> <i class="icon-bullhorn blue"></i> </figure>
    <div class="desc">
      <h4>Tell your story</h4>
      <p>If you are doing your part to protect the environment, people should know. We help you tell your story. </p>
    </div>
  </div>
  <div class="span3 service text-center">
    <figure> <i class="icon-thumbs-up"></i> </figure>
    <div class="desc">
      <h4>Let's go</h4>
      <p>Our turn-key projects include engineering, installation, and finance. Focus on your business, and leave the rest to us. </p>
    </div>
  </div>
</div>