<% content_for(:title) { "Savings Calculator" } %>

<div class="hgroup">
  <h1>Thank you</h1>
  <h2>We will be getting back to you shortly.</h2>
  <ul class="breadcrumb pull-right">
    <li><a href="<%= root_path %>">Home</a> <span class="divider">/</span></li>
    <li class="active">Savings Calculator</li>
  </ul>
</div>

<div class="span7">
  <p>Clear Skies LLC<br />
    Operating in Maryland, DC and Virginia</p>
    <br />
  <p><%= @opportunity.name %><br />
    <%= @opportunity.email %></p>
  <br />
  <p>Dear <%= @opportunity.contact %></p>
  <br />
  <p>We are delighted that you have taken the time to tell us a little about your vehicles and equipment. I'm sure you're excited to learn more. I'll be contacting you in the next few days to arrange a visit to your business and to answer any questions you may have. We look forward to working with you. </p>
  <p>Regards.</p>
  <br />
  <p>Steven Doll<br />Founder and Director of Operations<br />202-386-0190</p>
</div>
